<div style="padding: 15px;">
    <div class="container-80" style="margin-top: 40px; margin-bottom: 15px;">
        <h2 class="font-26 bolder gray-900" style="display: inline-block;">Explora</h2>
    </div>

    <div class="container-80">
        <mat-button-toggle-group name="filter" #group="matButtonToggleGroup" (change)="filterSelected(group.value)">
            <mat-button-toggle value="upcoming" checked>Próximas</mat-button-toggle>
            <mat-button-toggle value="past">Pasadas</mat-button-toggle>
            <mat-button-toggle value="all">Todas</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div *ngIf="symbiocreations?.length === 0" class="container-80 centered gray-600" style="margin-top: 15px;">
        No se encontraron simbiocreaciones.
    </div>

    <div class="container-80" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="15px">

        <!-- card -->
        <mat-card *ngFor="let s of symbiocreations" class="card-1 pink-bg">

            <div class="centered font-13 gray-300 uppercase" style="height: 30px;">
                <!--<mat-icon *ngIf="s.dateTime" class="font-16">event</mat-icon>-->
                <span *ngIf="s.dateTime">{{s.dateTime | date : 'E d MMM' : 'UTC'}}</span>
                <span *ngIf="s.hasStartTime">, {{s.dateTime | date : 'shortTime' : 'UTC'}}</span>
            </div> 

            <div class="centered font-20 bold" style="color: white; height: 48px;">
                <a [routerLink]="['/symbiocreation/', s.id]" class="ellipsed-2 link-hvr-underline">{{s.name}}</a>
            </div>

            <div *ngIf="getParticipantsToDisplay(s.participants) as participantsToDisplay" 
                style="margin: 20px auto 0; height: 40px; position: relative;" 
                [style.width]="(participantsToDisplay.length - 1) * 24 + 45 + computeNMoreSpanWidth(s.participants.length, participantsToDisplay.length) + 'px'">

                    <cl-image *ngFor="let p of participantsToDisplay; index as i;" 
                        [public-id]="p.user.pictureUrl" type="fetch" class="img-1" 
                        [style.z-index]="5-i" [style.left]="i*24 + 'px'"
                        [matTooltip]="p.user.name" matTooltipPosition="above">
                        <cl-transformation height="90" width="90" gravity="face" radius="max" crop="fill" fetch-format="auto"></cl-transformation>
                    </cl-image>

                    <span *ngIf="participantsToDisplay.length > 0 && s.participants.length - participantsToDisplay.length > 0" 
                        class="font-12 gray-300" style="position: absolute; top: 10px;" 
                        [style.left]="(participantsToDisplay.length - 1) * 24 + 45 + 'px'">
                        {{s.participants.length - participantsToDisplay.length}} más
                    </span>

            </div>

            <div style="margin-top: 20px; height: 30px;">
                <div [matTooltip]="'Actualizado ' + getTimeAgo(s.lastModified)" matTooltipPosition="above" style="float: left; width: 151px;">
                    <mat-icon class="font-17 gray-300" style="position: relative; top: 4px;">update</mat-icon>
                    <span class="font-12 gray-300" style="position: relative; left: -4px;">{{getTimeAgo(s.lastModified)}}</span>
                </div>

                <!--<button mat-stroked-button
                        class="gray-300"
                        (click)="viewSymbiocreationDetail(s)">
                        Ver detalles
                </button> -->
                <div style="float: right; width: 40px; height: 30px;">
                    <button class="infoButton"
                            mat-icon-button 
                            matTooltip="Ver más información" matTooltipPosition="above"
                            style="position: relative; top: -5px;" 
                            (click)="openSymbioDetailDialog(s)">
                            <mat-icon class="font-20 gray-300">info</mat-icon>
                    </button>
                </div>
            </div>
            
        </mat-card>
         <!-- End of card -->

    </div>
</div>
