<mat-nav-list class="main-navlist">
  <a mat-list-item routerLink="/dashboard/my-symbios">
    <mat-icon class="icon-dashboard">dashboard</mat-icon>
    {{ 'NAV.MY_SYMBIOS' | translate }}
  </a>
  <a mat-list-item routerLink="/dashboard/my-onedots">
    <mat-icon  class="icon-interests">interests</mat-icon>
    {{ 'NAV.MY_SYMBIOGAMES' | translate }}
  </a>
  @if (sharedService.appUser$ | async; as appUser) {
    @if (appUser?.role === 'SUPER_ADMIN') {
      <a
        mat-list-item routerLink="/dashboard/stats-overview">
        <mat-icon style="margin-right: 20px;">bar_chart</mat-icon>
        {{ 'NAV.GENERAL_STATS' | translate }}
      </a>
    }
  }
</mat-nav-list>
