<mat-nav-list class="main-navlist">
    <a mat-list-item routerLink="/dashboard/my-symbios">
        <mat-icon style="margin-right: 20px;">dashboard</mat-icon>
        Mis Simbios
    </a>
    <a mat-list-item routerLink="/dashboard/my-onedots">
        <mat-icon style="margin-right: 20px;">apps</mat-icon>
        Mis One Dots
    </a>
    <a mat-list-item routerLink="/dashboard/stats-overview">
        <mat-icon style="margin-right: 20px;">bar_chart</mat-icon>
        Stats Generales
    </a>
</mat-nav-list>
