 <mat-sidenav-container autosize hasBackdrop="false" style="height: calc(100% - 64px)"> <!-- make this occupy total height - toolbar.height -->

    <mat-sidenav #sidenav position="end" [style.width]="sidenavService.isOpenInFullscreen ? '100%' : '470px'">
        <router-outlet></router-outlet>
    </mat-sidenav>

    <section fxLayout="row" style="height: 100%;">

        <!-- Main area -->
        <div fxFlex="77" fxFlex.lt-md="70" fxLayout="column">

            <div class="mat-elevation-z3" style="padding: 9px; background-color: white;">
                <h2 class="font-26 gray-900 bolder centered" style="margin-bottom: 0;">

                    <mat-icon class="teal-color-1" 
                            [matTooltip]="symbiocreation?.visibility === 'public' ? 'Pública' : 'Privada'" 
                            matTooltipPosition="above"
                            style="position: relative; top: 3px; left: -7px;">
                            {{symbiocreation?.visibility === 'public' ? 'public' : 'lock'}}
                    </mat-icon>

                    <span>{{symbiocreation?.name}}</span>

                    <button mat-icon-button 
                        matTooltip="Ver detalles" 
                        matTooltipPosition="above"
                        style="position: relative; top: -4px; left: 3px;" 
                        (click)="openSymbioDetailDialog()">
                        <mat-icon class="gray-600">info</mat-icon>
                    </button>

                    <span *ngIf="participant?.isModerator" style="margin-left: 5px;" class="chip-role moderator">Moderador</span>

                    <button *ngIf="participant || appUser?.role === 'SUPER_ADMIN'"
                        mat-icon-button 
                        [matMenuTriggerFor]="mainMenu"
                        style="position: relative; top: -4px; left: 2px;">
                        <mat-icon class="gray-600">more_vert</mat-icon>
                    </button>

                    <mat-menu #mainMenu="matMenu">
                        <button mat-menu-item 
                            (click)="leaveSymbiocreation()">
                            <mat-icon class="gray-600">person_remove</mat-icon>
                            Darme de baja
                        </button>
                        <button mat-menu-item 
                            (click)="downloadParticipantsData()">
                            <mat-icon class="gray-600">download</mat-icon>
                            Descargar datos de participantes
                        </button>
                        <button mat-menu-item 
                            (click)="downloadAllData()">
                            <mat-icon class="gray-600">download</mat-icon>
                            Descargar todos los datos
                        </button>
                    </mat-menu>
                </h2>
                
                <!-- Participant control panel -->
                <div *ngIf="participant">
                    <div fxLayout="row">
                        <div class="gray-900 bold" style="padding: 5px 10px; margin-right: 15px; width: 120px; text-align: right;">
                            Mi(s) idea(s) <br />
                            <button mat-button
                                color="primary"
                                (click)="createUserNode()">
                                <mat-icon>add</mat-icon>
                                Nueva idea
                            </button>
                            <!--<span *ngIf="roleOfLoggedIn === 'ambassador'" class="chip-role small ambassador">Embajador</span>-->
                        </div>

                        <div fxFlex style="padding: 5px 10px 0;">
                            <div *ngFor="let lineage of myAncestries">

                                <button *ngIf="!lineage[0].idea"
                                    mat-flat-button 
                                    color="accent"
                                    (click)="openMyIdeaEditDialog(lineage[0])">
                                    <span class="italicized">(vacío)</span>
                                </button>

                                <button *ngIf="lineage[0].idea" 
                                    mat-flat-button
                                    color="accent"
                                    matTooltip="Ver detalle"
                                    (click)="openIdeaDetailSidenav(lineage[0])">
                                    <mat-icon>open_in_new</mat-icon>
                                    <span class="ellipsed" style="display: inline-block; width: 130px;">{{lineage[0].idea?.title}}</span>
                                </button>

                                <ng-container *ngFor="let node of lineage | slice:1; index as i; last as last">
                                    <span> &lt; </span>
                                    <span class="chip-ancestry">
                                        Nivel {{i + 1}}: {{node.name}}
                                    </span>
                                </ng-container>

                                <button mat-icon-button 
                                    color="primary"
                                    matTooltip="Seleccionar mi grupo"
                                    style="margin-left: 5px;" 
                                    (click)="toggleGroupSelectorVisibility(lineage[0])">
                                    <mat-icon>group_add</mat-icon>
                                </button>

                                <button *ngIf="lineage[0].role === 'ambassador'"
                                    mat-icon-button
                                    color="primary"
                                    matTooltip="Crear siguiente nivel"
                                    style="margin-left: 5px;"
                                    (click)="openNextLevelGroupDialog(lineage[lineage.length - 1])">
                                    <mat-icon>upgrade</mat-icon>
                                </button>

                                <div [id]="lineage[0].id" hidden style="margin-top: 5px;">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Seleccionar grupo</mat-label>
                                        <mat-select [(value)]="idGroupSelected" (selectionChange)="onMyGroupChanged(lineage[0])">
                                            <mat-option *ngFor="let g of groups" [value]="g.id">{{g.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
    
                                    <button mat-flat-button color="accent"
                                        style="margin-left: 5px;"
                                        (click)="openNewParentGroupDialog(lineage[0].id)">
                                        <mat-icon>add</mat-icon>
                                        Crear grupo
                                    </button>
    
                                    <button mat-button 
                                        style="margin-left: 5px;"
                                        (click)="toggleGroupSelectorVisibility(lineage[0])">
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="!participant">
                    <p class="centered">Participa de esta simbiocreación!</p>
                    <div style="text-align: center;">
                        <button #btnParticipate mat-raised-button color="accent" (click)="joinSymbiocreation(btnParticipate)">
                            <span>Participar</span>
                        </button>
                    </div>
                </div>
            </div>
            
            <div fxFlex>
                <app-graph
                    [data]="symbiocreation?.graph"
                    [participant]="participant"
                    [myAncestries]="myAncestries"
                    (parentChanged)="onParentChanged($event)"
                    (nodeChangedName)="openChangeNodeNameDialog($event)"
                    (nodeChangedRole)="onRoleChanged($event)"
                    (nodeDeleted)="onNodeDeleted($event)">
                </app-graph>
            </div>
        </div>

        <!-- Side area -->
        <div fxFlex="23" fxFlex.lt-md="30" class="mat-elevation-z1 container-scrollable">

            <!-- Grupos -->
            <mat-expansion-panel expanded class="mat-elevation-z0">
                <mat-expansion-panel-header class="accent-bg">
                    <mat-panel-title>
                        Grupos
                    </mat-panel-title>
                    <mat-panel-description>
                        {{groups?.length}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div>
                    <mat-form-field appearance="standard" style="width: 100%;">
                        <mat-icon matPrefix>search</mat-icon>
                        <input matInput placeholder="Buscar grupo..." [(ngModel)]="listFilter2" (keyup.esc)="listFilter2 = ''">
                    </mat-form-field>
                </div>

                <mat-list dense>
                    <mat-list-item *ngFor="let g of filteredGroups" class="hoveredList1" (mouseenter)="onMouseEnterListItem([g])" (mouseleave)="onMouseLeaveListItem([g])">
                        <div style="display: inline; width: 205px;" (click)="openIdeaDetailSidenav(g)">
                            <span class="font-13">{{g.name}}</span>
                            <span class="gray-700" style="margin-left: 6px;">· {{g.children.length}} {{g.children.length === 1 ? 'nodo' : 'nodos'}}</span>
                        </div>
                        
                        <button *ngIf="participant?.isModerator || isAmbassadorOfAnyGroupBelow(g)" mat-icon-button [matMenuTriggerFor]="groupMenu" [matMenuTriggerData]="{node: g}">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>

                <!-- Mat menu and submenu -->
                <mat-menu #groupMenu="matMenu">
                    <ng-template matMenuContent let-node="node">
                        <button mat-menu-item (click)="openIdeaDetailSidenav(node)">Ver idea</button>
                        <button
                            mat-menu-item 
                            [matMenuTriggerFor]="groupsSubMenu" 
                            [matMenuTriggerData]="{node: node}">
                            Asignar grupo padre
                        </button>
                        <button
                            mat-menu-item 
                            (click)="openChangeNodeNameDialog(node.id)">
                            Cambiar nombre
                        </button>
                        <button
                            mat-menu-item 
                            (click)="onNodeDeleted(node.id)">
                            Eliminar
                        </button>
                    </ng-template>
                </mat-menu>

                <mat-menu #groupsSubMenu="matMenu">
                    <ng-template matMenuContent let-node="node">
                        <button mat-menu-item *ngFor="let g of filterGroups(groups, node)" (click)="onParentChanged([node.id, g.id])"> <!-- filter because a node cannot be its own parent! -->
                            <span>{{g.name}}</span>
                        </button>
                    </ng-template>
                </mat-menu>
                
            </mat-expansion-panel>

            <!-- Participantes -->
            <mat-expansion-panel expanded class="mat-elevation-z0">
                <mat-expansion-panel-header class="accent-bg">
                    <mat-panel-title>
                        Participantes
                    </mat-panel-title>
                    <mat-panel-description>
                        {{symbiocreation?.participants.length}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div>
                    <mat-form-field appearance="standard" style="width: 100%;">
                        <mat-icon matPrefix>search</mat-icon>
                        <input matInput placeholder="Buscar participante..." [(ngModel)]="listFilter1" (keyup.esc)="listFilter1 = ''">
                    </mat-form-field>
                </div>
                
                <mat-list dense>
                    <mat-list-item *ngFor="let p of filteredParticipants" class="hoveredList1" (mouseenter)="onMouseEnterListItem(getNodesByUserId(p.u_id))" (mouseleave)="onMouseLeaveListItem(getNodesByUserId(p.u_id))">
                        <div style="display: inline; width: 205px;" (click)="preOpenIdeaDetailSidenav(p.u_id)">
                            <span *ngIf="p.user.firstName && p.user.lastName" class="font-13">{{p.user.firstName}} {{p.user.lastName}}</span>
                            <span *ngIf="!(p.user.firstName && p.user.lastName)" class="font-13">{{p.user.name}}</span>

                            <span *ngIf="p.u_id === participant?.u_id" class="gray-600" style="margin-left: 5px;">(tú)</span>

                            <br />

                            <span *ngIf="p.isModerator" class="chip-role small moderator">Moderador</span>
                            <!--<span *ngIf="p.role === 'ambassador'" class="chip-role small ambassador">Embajador</span>-->
                        </div>
                        
                        <button mat-icon-button 
                            [matMenuTriggerFor]="participantMenu" 
                            [matMenuTriggerData]="{participant: p}">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>

                <!-- Mat menu and submenu -->
                <mat-menu #participantMenu="matMenu">
                    <ng-template matMenuContent let-p="participant">
                        <button mat-menu-item 
                            (click)="preOpenIdeaDetailSidenav(p.u_id)">
                            Ver idea
                        </button>

                        <button *ngIf="participant?.isModerator && p.u_id !== participant?.u_id && !p.isModerator" 
                            mat-menu-item
                            (click)="setParticipantIsModerator(p, true)">
                            Asignar como moderador
                        </button>

                        <button *ngIf="participant?.isModerator && p.u_id !== participant?.u_id && p.isModerator" 
                            mat-menu-item
                            (click)="setParticipantIsModerator(p, false)">
                            Quitar rol de moderador
                        </button>

                        <button *ngIf="participant?.isModerator && p.u_id !== participant?.u_id" 
                            mat-menu-item
                            (click)="deleteParticipant(p)">
                            Eliminar participante
                        </button>
                    </ng-template>
                </mat-menu>
                
            </mat-expansion-panel>
        </div>

    </section>

</mat-sidenav-container>

