ngb-rating {
    color: #FFC107;
    font-size: 20px;
}

mat-toolbar.idea-toolbar{
    background: #FAFAFA;
}

.idea-name{
    background: #E91D63;
    color: white;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 14px;
    line-height: 21px;
    height: 23px;
}

.idea-body{
    
}

.register-new-idea{
    background-color: #E91D63;
    color: #FFFFFF;
}