ngb-rating {
    color: #FFC107;
    font-size: 20px;
}

mat-toolbar.idea-toolbar{
    background: #FAFAFA;
}

.idea-name {
    background: #E91D63;
    color: white;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 14px;
    line-height: 21px;
    height: 23px;
}


// Carrousel
.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
  
.carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease;
  align-items: center;
}

.carousel-item {
  // min-width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center; /* Centra las imágenes */
  max-width: 100%;
}

.carousel-item advanced-image {
  max-width: 100%;
  height: auto;
  object-fit: contain; /* Ajusta el tamaño de la imagen sin que se deforme */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}