<mat-toolbar class="idea-toolbar" color="accent">
    <!-- <span class="ellipsed">Idea de {{nameToShow}}</span> -->
    
    <span fxFlex></span>

    <button *ngIf="sharedService.isIdeaEditable$ | async" mat-icon-button [matMenuTriggerFor]="ideaSidenavMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #ideaSidenavMenu="matMenu">
        <button mat-menu-item (click)="openEditIdeaDialog()">
            <span>Editar idea</span>
        </button>
    </mat-menu>

    <button mat-icon-button 
        [matTooltip]="sidenavService.isOpenInFullscreen ? 'Cerrar pantalla completa' : 'Abrir en pantalla completa'" 
        matTooltipPosition="above"
        (click)="toggleFullscreen()">
        <mat-icon>{{sidenavService.isOpenInFullscreen ? 'close_fullscreen' : 'open_in_full'}}</mat-icon>
    </button>

    <button mat-icon-button (click)="closeIdeaDetail()">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>

<div class="ellipsed idea-name">Idea de {{nameToShow}}</div>

<div class="idea-body" [style.padding]="sidenavService.isOpenInFullscreen ? '30px 35px' : '30px 15px'">

    

    <div *ngIf="!node?.idea">
        <p class="centered gray-700 font-15">
            No hay ninguna idea registrada.
        </p>
        <div class="centered" *ngIf="sharedService.isIdeaEditable$ | async">
            <button class="register-new-idea" mat-flat-button color="primary" (click)="openEditIdeaDialog()">Registrar idea</button>
        </div>
    </div>

    <div *ngIf="node?.idea">
        <div>
            <p class="centered gray-900 font-18 bold">{{node.idea.title}}</p>
        </div>

        <div style="margin-top: 30px;">
            <p class="justified gray-700 font-15" style="white-space: pre-wrap;" [innerHTML]="node.idea.description | linkify"></p>
        </div>

        <!-- Galeria de imágenes antigua -->
        <!-- <div style="margin-top: 30px;" *ngIf="node.idea.imgPublicIds && node.idea.imgPublicIds.length > 0" [fxLayout]="sidenavService.isOpenInFullscreen ? 'row wrap' : 'column wrap'" fxLayoutGap="10px">
            <div *ngFor="let publicId of node.idea.imgPublicIds" [fxFlex]="sidenavService.isOpenInFullscreen ? '48' : '100'" [style.padding-top]="sidenavService.isOpenInFullscreen ? '10px' : '0'">
                <cl-image [public-id]="publicId" style="width: 100%;"></cl-image>
            </div>
        </div> -->

        <!-- Carrusel de imágenes -->
        <div class="carousel-container" *ngIf="node.idea.imgPublicIds && node.idea.imgPublicIds.length > 0">
            <button class="carousel-button prev" (click)="moveLeft()">&#10094;</button>
            <div class="carousel"
                 (mousedown)="onMouseDown($event)" (mouseleave)="onMouseLeave()" (mouseup)="onMouseUp()" (mousemove)="onMouseMove($event)"
                 (touchstart)="onMouseDown($event)" (touchend)="onMouseUp()" (touchmove)="onMouseMove($event)">
                <div class="carousel-track" #carouselTrack>
                    <div class="carousel-item" *ngFor="let publicId of node.idea.imgPublicIds">
                        <cl-image [public-id]="publicId" style="width: 90%;" draggable="false"></cl-image>
                    </div>
                </div>
            </div>
            <button class="carousel-button next" (click)="moveRight()">&#10095;</button>
        </div>


    </div>
    
    <mat-divider style="margin: 15px auto 15px;" *ngIf="node?.idea?.externalUrls"></mat-divider>

    <div *ngIf="node?.idea?.externalUrls">
        <span>Enlaces externos</span>

        <ul>
            <li class="gray-700" *ngFor="let url of node.idea.externalUrls">
                <span [innerHTML]="url | linkify"></span>
            </li>
        </ul>
    </div>

    <!--
    <mat-divider style="margin: 15px auto 15px;" *ngIf="node?.idea"></mat-divider>

    <div *ngIf="node?.idea">
        <span>Rating</span>

        <div style="padding: 10px 30px;">
            <span class="gray-700 font-15" style="margin-right: 7px;">{{rating}}</span>
            <ngb-rating [max]="5" [(rate)]="rating" (rateChange)="onRateChange($event)" [readonly]="false"></ngb-rating>
            <span class="gray-700 font-15" style="margin-left: 3px;">(26)</span>
        </div>
    </div>
    -->

    <mat-divider style="margin: 15px auto 15px;" *ngIf="node?.idea"></mat-divider>

    <div *ngIf="node?.idea">
        <span>{{node.idea.comments ? node.idea.comments.length : '0' }} comentarios</span>

        <!-- Visible to logged-in users -->
        <div *ngIf="auth.userProfile$ | async as profile" style="margin-top: 20px; margin-bottom: 40px;" [style.padding]="sidenavService.isOpenInFullscreen ? '0 55px' : '0'" class="clearfix" fxLayout="row">
            <div style="width: 70px; padding: 10px 15px;">
                <cl-image [public-id]="profile.picture" type="fetch" class="img-2">
                    <cl-transformation height="120" width="120" gravity="face" radius="max" crop="fill" fetch-format="auto"></cl-transformation>
                </cl-image>
            </div>
            <div fxFlex>
                <mat-form-field style="width: 100%;">
                    <textarea matInput [(ngModel)]="comment" rows="2" placeholder="Escribe tu comentario..." (click)="hiddenCommentButtons = false"></textarea>
                </mat-form-field>

                <div style="text-align: right;" [hidden]="hiddenCommentButtons">
                    <button mat-button (click)="cancelCommentPost()">Cancelar</button>
                    <button mat-flat-button (click)="postComment()" color="primary" [disabled]="!comment.trim()">Guardar</button>
                </div>
            </div>
        </div>

        <div *ngFor="let comment of node.idea.comments" style="margin-top: 20px;" [style.padding]="sidenavService.isOpenInFullscreen ? '0 55px' : '0'" class="clearfix" fxLayout="row">
            <div style="width: 70px; padding: 0 15px;">
                <cl-image [public-id]="comment.author.pictureUrl" type="fetch" class="img-2">
                    <cl-transformation height="120" width="120" gravity="face" radius="max" crop="fill" fetch-format="auto"></cl-transformation>
                </cl-image>
            </div>
            <div fxFlex>
                <div>
                    <span class="bold">{{comment.author.firstName && comment.author.lastName ? comment.author.firstName + ' ' + comment.author.lastName : comment.author.name}}</span>
                </div>
                <div>
                    <p>
                        {{comment.content}}
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>