ngb-rating {
    color: #FFC107;
    font-size: 20px;
}

mat-toolbar.idea-toolbar{
    background: #FAFAFA;
}

.idea-name{
    background: #E91D63;
    color: white;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 14px;
    line-height: 21px;
    height: 23px;
}

.idea-body{
    
}

.register-new-idea{
    background-color: #E91D63;
    color: #FFFFFF;
}


// Carrousel
.carousel-container {
  position: relative;
  width: 100%;
  margin-top: 30px;
}
  
.carousel {
  // overflow: hidden;
  width: 85%;
  // position: relative;
  margin: 0 auto;
}

.carousel-track {
  width: 100%;
  // display: flex;
  // overflow-x: hidden;
  // -webkit-overflow-scrolling: touch;
}

.carousel-item {
  // flex: 0 0 auyeah sure
  width: 100%;
  // box-sizing: border-box;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #000000;
  padding: 5px;
  cursor: pointer;
  z-index: 1;
}

.carousel-button.prev {
  left: 5px;
}

.carousel-button.next {
  right: 5px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
}