<div style="padding: 15px;">
    <div class="container-80" style="margin-top: 40px; margin-bottom: 35px;">
        <h2 class="font-26 bolder gray-900" style="display: inline-block;">Nueva simbiocreación</h2>
    </div>
    
    <form #form="ngForm" (ngSubmit)="onSubmit()" class="container-60">
        <div fxLayout="row">
            <mat-form-field fxFlex="80" style="padding-right: 20px;">
                <mat-label>Nombre de la simbiocreación</mat-label>
                <input matInput cdkFocusInitial type="text" required [(ngModel)]="model.name" name="name">
            </mat-form-field>

            <mat-checkbox fxFlex="20" [(ngModel)]="isPrivate" name="isPrivate">Es un evento privado</mat-checkbox>
        </div>

        <div>
            <mat-form-field style="width: 80%; padding-right: 20px;">
                <mat-label>Lugar</mat-label>
                <input matInput type="text" [(ngModel)]="model.place" name="place">
            </mat-form-field>
        </div>

        <div fxLayout="row">
            <mat-form-field appearance="fill" style="padding-right: 10px;">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="datePicker" touchUi [(ngModel)]="eventDate" name="eventDate">

                <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>

            <mat-checkbox fxFlex="20" [(ngModel)]="model.hasStartTime" name="hasStartTime">Establecer hora de inicio</mat-checkbox>
        </div>

        <div *ngIf="model.hasStartTime" fxLayout="row">
            <mat-form-field appearance="fill" style="padding-right: 10px;">
                <mat-label>Hora</mat-label>
                <input matInput type="time" [(ngModel)]="eventTime" name="eventTime">
            </mat-form-field>

            <ng-moment-timezone-picker
            
                [customPlaceholderText]="'Zona horaria'"
                [customNotFoundText]="'No se encontró zona'">
            </ng-moment-timezone-picker>
        </div>

        <div>
            <mat-form-field fxFlex appearance="fill">
                <mat-label>Descripción</mat-label>
                <textarea matInput [(ngModel)]="model.description" name="description" rows="9"></textarea>
            </mat-form-field>
        </div>


        <!-- More details of event -->
        <div style="text-align: right;">
            <button type="button" mat-button color="primary" (click)="detailsOpened = !detailsOpened">
                {{detailsOpened ? 'Menos' : 'Más'}} detalles
            </button>
        </div>

        <div *ngIf="detailsOpened">
            <mat-form-field fxFlex>
                <mat-label>Link con información del evento</mat-label>
                <input matInput type="url" [(ngModel)]="model.infoUrl" name="infoUrl">
            </mat-form-field>
        </div>

        <div *ngIf="detailsOpened">
            <mat-form-field fxFlex>
                <mat-chip-grid #tagList>
                    <mat-chip-row *ngFor="let tag of model.tags" selected color="accent" (removed)="removeTag(tag)">
                        {{tag}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip-row>
                    <input placeholder="Tags"
                            [matChipInputFor]="tagList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="true"
                            (matChipInputTokenEnd)="addTag($event)">
                </mat-chip-grid>
            </mat-form-field>
        </div>

        <div *ngIf="detailsOpened">
            <mat-form-field fxFlex>
                <mat-chip-grid #extraUrlsList class="mat-chip-list-stacked">
                    <mat-chip-row *ngFor="let url of model.extraUrls" selected color="accent" (removed)="removeExtraUrl(url)">
                        {{url}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip-row>
                    <input style="flex: 1 0 40px;" placeholder="Extra URLs"
                            [matChipInputFor]="extraUrlsList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="true"
                            (matChipInputTokenEnd)="addExtraUrl($event)">
                </mat-chip-grid>
            </mat-form-field>
        </div>

        <div *ngIf="detailsOpened">
            <mat-form-field fxFlex>
                <mat-chip-grid #sdgList>
                    <mat-chip-row *ngFor="let sdg of model.sdgs" selected color="accent" (removed)="removeSDG(sdg)">
                        {{sdg}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip-row>
                    <input placeholder="Objetivos de Desarrollo Sostenible"
                            #sdgInput
                            [formControl]="sdgCtrl"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="sdgList">
                </mat-chip-grid>
                
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let sdg of filteredSDGs | async" [value]="sdg">
                      {{sdg}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

    
        <div>
            <button mat-button type="button" (click)="location.back()">Cancelar</button>
            <span fxFlex></span>
            <button mat-raised-button color="accent" type="submit" [disabled]="!form.valid">
                <span>Crear</span>
            </button>
        </div>
    </form>

</div>