<mat-progress-bar mode="indeterminate" color="accent" *ngIf="sharedService.isLoading$ | async"></mat-progress-bar>

<mat-toolbar color="primary">
    <a class="no-hover" style="color: white !important;" routerLink="/" style="margin-right: 15px;">{{title}}</a>

    <a class="no-hover" mat-button routerLink="/dashboard/my-symbios" *ngIf="auth.loggedIn">Dashboard</a>
    <a class="no-hover" mat-button routerLink="/explore" style="margin-left: 10px;">Explora</a>
    <a class="no-hover" mat-button routerLink="/ranking" style="margin-left: 10px;">Ranking</a>

    <span fxFlex></span>

    <button *ngIf="auth.userProfile$ | async as profile" mat-stroked-button [matMenuTriggerFor]="userMenu">
        <span>{{profile.name.split(" ")[0]}}</span>
        <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/profile">
            <mat-icon>settings</mat-icon>
            <span>Configuraciones</span>
        </button>
        <button mat-menu-item (click)="auth.logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Salir</span>
        </button>
    </mat-menu>

    <button *ngIf="!auth.loggedIn" mat-stroked-button (click)="auth.login()">
        <span>Accede</span>
    </button>
</mat-toolbar>

<router-outlet></router-outlet>