<mat-toolbar color="primary">
    <a routerLink="/" style="margin-right: 15px;">{{title}}</a>
    <a mat-button routerLink="/explore">Explora</a>

    <span fxFlex></span>

    <button *ngIf="auth.userProfile$ | async as profile" mat-stroked-button [matMenuTriggerFor]="userMenu">
        <span>{{profile.given_name}}</span>
        <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/profile">
            <mat-icon>settings</mat-icon>
            <span>Configuraciones</span>
        </button>
        <button mat-menu-item (click)="auth.logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Salir</span>
        </button>
    </mat-menu>

    <button *ngIf="!auth.loggedIn" mat-stroked-button (click)="auth.login()">
        <span>Accede</span>
    </button>
</mat-toolbar>

<router-outlet></router-outlet>