<mat-progress-bar mode="indeterminate" color="accent" *ngIf="sharedService.isLoading$ | async"></mat-progress-bar>

<mat-toolbar color="primary" class="menu-desktop">

    <!-- Boton Menu Mobile -->
    <a class="no-hover toogle-button only-mobile menu-mobile-btn" mat-button >
        <button class="float-menu-group" mat-icon-button color="primary" (click)="menuMobile.toggle()">
            <mat-icon style="color: white;">menu</mat-icon>
        </button>
    </a>

    <!-- Menu Desktop -->
    <div class="only-desktop">
        <a class="no-hover" routerLink="/" style="display: flex; align-items: center; margin-right: 15px;">{{title}}</a>
        <a class="no-hover" mat-button routerLink="/dashboard/my-symbios" *ngIf="auth.loggedIn">Dashboard</a>
        <a class="no-hover" mat-button routerLink="/explore">Explora</a>
        <a class="no-hover" mat-button routerLink="/ranking">Ranking</a>
    </div>

    <span fxFlex></span>

    <button *ngIf="auth.userProfile$ | async as profile" mat-stroked-button [matMenuTriggerFor]="userMenu">
        <span>{{profile.name.split(" ")[0]}}</span>
        <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/profile">
            <mat-icon>settings</mat-icon>
            <span>Configuraciones</span>
        </button>
        <button mat-menu-item (click)="auth.logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Salir</span>
        </button>
    </mat-menu>

    <button *ngIf="!auth.loggedIn" mat-stroked-button (click)="auth.login()">
        <span>Accede</span>
    </button>
</mat-toolbar>


<!-- <mat-toolbar class="menu-mobile">
    <div class="header">
        <a routerLink="/">
            <img src="assets/images/logo_symbio_2024.png" alt="">
        </a>
        <span class="btn-menu">
            <mat-icon>account_circle</mat-icon>
        </span>
    </div>
</mat-toolbar> -->


<!-- Menu Mobile desplegable -->
<mat-sidenav #menuMobile class="menu-mobile-container">

    <mat-toolbar color="accent" style="background-color: #287987;">
        <span class="ellipsed" style="color: #FFFFFF;">Simbiocreación</span>
        
        <span fxFlex></span>
    
        <button mat-icon-button (click)="menuMobile.close()" style="color: #FFFFFF;">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    
    <div class="menu-body">

        <a class="no-hover" mat-button routerLink="/dashboard/my-symbios" *ngIf="auth.loggedIn" (click)="menuMobile.toggle()">Dashboard</a>
        <a class="no-hover" mat-button routerLink="/explore" (click)="menuMobile.toggle()">Explora</a>
        <a class="no-hover" mat-button routerLink="/ranking" (click)="menuMobile.toggle()">Ranking</a>

    </div>

</mat-sidenav>

<router-outlet></router-outlet>