<h1 mat-dialog-title>Idea de {{data.name}}</h1>

<mat-dialog-content>
    <mat-form-field style="width: 100%;">
      <mat-label>Título</mat-label>
      <input matInput cdkFocusInitial required [(ngModel)]="idea.title" placeholder="Ej. Un robot que limpie la atmósfera.">
    </mat-form-field>
    
    <mat-form-field style="width: 100%;">
      <mat-label>Descripción</mat-label>
      <textarea matInput required [(ngModel)]="idea.description" placeholder="Descripción larga de mi idea." rows="5"></textarea>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-chip-list #externalUrlList class="mat-chip-list-stacked">
          <mat-chip *ngFor="let url of idea.externalUrls" selected color="accent"
                  [removable]="true" (removed)="removeExternalUrl(url)">
              {{url}}
              <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input style="flex: 1 0 40px;" placeholder="Enlaces externos"
                  [matChipInputFor]="externalUrlList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="true"
                  (matChipInputTokenEnd)="addExternalUrl($event)">
      </mat-chip-list>
  </mat-form-field>
    
    <div class="centered" style="padding-bottom: 25px;">
      <button mat-raised-button color="accent" style="margin-right: 5px;" (click)="openCamera()">
        <mat-icon>camera_alt</mat-icon>
        <span>Tomar foto</span>
      </button>

      <button mat-raised-button color="accent" (click)="imageInput.click()">
        <mat-icon>add_photo_alternate</mat-icon>
        <span>Agregar imagen</span>
      </button>
      <input #imageInput
              hidden
              type="file"
              accept="image/*"
              (change)="processFile(imageInput)">
    </div>
    
    <div *ngFor="let publicId of idea.imgPublicIds" style="margin-top: 10px;">
      <cl-image [public-id]="publicId" style="width: 80%;"></cl-image>
      <button mat-button color="warn" (click)="deletePublicId(publicId)">Eliminar</button>
    </div>

    <div *ngFor="let img of selectedImgs" style="margin-top: 10px;">
      <img [src]="img.src" style="width: 80%;" />
      <button mat-button color="warn" (click)="deleteSelectedImg(img)">Eliminar</button>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <span fxFlex></span>
    <button #okButton mat-flat-button color="accent" (click)="onOkClick(okButton)" [disabled]="!idea.title || !idea.description">OK</button>
</mat-dialog-actions>