<div *ngIf="auth.userProfile$ | async as profile" style="display: flex;align-items: center;justify-content: center;padding-top: 100px;">

    <!-- <pre *ngIf="auth.userProfile$ | async as profile">
        <code>{{ profile | json }}</code>
    </pre> -->

    <mat-card style="width: 50%;">
        <mat-card-header>
          <mat-card-title>Perfil</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div style="text-align:center;">
            <img [src]="profile.picture" alt="Profile Picture" style="border-radius: 50%; width: 150px; height: 150px;">
          </div>
          <p><strong>Nombre:</strong> {{ profile.given_name }} {{ profile.family_name }}</p>
          <p><strong>Apodo:</strong> {{ profile.nickname }}</p>
          <p><strong>Nombre Completo:</strong> {{ profile.name }}</p>
          <p><strong>Email:</strong> {{ profile.email }}</p>
          <p><strong>Email Verificado:</strong> {{ profile.email_verified ? 'Sí' : 'No' }}</p>
          <p><strong>Última Actualización:</strong> {{ profile.updated_at | date:'medium' }}</p>
        </mat-card-content>
      </mat-card>

</div>