<div>
    <div class="grow" style="margin-top: 40px;">
        <h2 class="mat-subheading-1" style="display: inline-block;">Mis simbiocreaciones</h2>

        <button routerLink="/create" mat-raised-button color="accent" style="float: right;">
            <mat-icon>add</mat-icon>
            <span>Crear</span>
        </button>
    </div>

    <div class="grow">
        <mat-list>
            <h3 matSubheader>
                <span fxFlex></span>
                <span fxFlex="15">Número de participantes</span>
                <span fxFlex="15">Última modificación</span>
                <span fxFlex="40px"></span>
            </h3>
            <mat-list-item style="margin-top: 70px; margin-bottom: 50px;" *ngFor="let s of symbiocreations; index as i; last as last">
               <div matLine>
                    <a [routerLink]="['/symbiocreation/', s.id]" class="bold font-17 teal-700" style="max-width: 55%; padding: 5px;">{{s.name}}</a>
                    <span class="chip-role" style="margin-left: 12px;" *ngIf="isModerator[i]">Moderador</span>
        
                    <span fxFlex></span>
                    
                    <span fxFlex="15" class="gray-500 font-14" style="padding: 5px;">{{s.nparticipants}} {{s.nparticipants === 1 ? 'participante' : 'participantes'}} </span>
                    <span fxFlex="15" class="gray-500 font-14" style="padding: 5px;">{{s.lastModified | date: 'd MMM y'}}</span>
                    
                    <button mat-icon-button [matMenuTriggerFor]="simbioMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #simbioMenu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>text_fields</mat-icon>
                            <span>Cambiar nombre</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Eliminar</span>
                        </button>
                    </mat-menu>
               </div>
               <div matLine style="padding-bottom: 50px;">
                   <mat-form-field fxFlex="50" style="padding-left: 5px;">
                        <mat-label>Link para compartir</mat-label>
                        <input matInput type="text" value="http://app.simbiocreacion.com/symbiocreation/{{s.id}}" readonly>
                        <button mat-icon-button matSuffix cdkCopyToClipboard="http://app.simbiocreacion.com/symbiocreation/{{s.id}}">
                            <mat-icon>content_copy</mat-icon>
                        </button>
                   </mat-form-field>
               </div>
               <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                
            </mat-list-item>
        
         </mat-list>
    </div>
</div>