// Custom Theming for Angular Material
@use '@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$symbiocreation-ui-primary: mat.define-palette(mat.$deep-purple-palette, A400, A200, A700);
$symbiocreation-ui-accent: mat.define-palette(mat.$teal-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$symbiocreation-ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$symbiocreation-ui-theme: mat.define-light-theme($symbiocreation-ui-primary, $symbiocreation-ui-accent, $symbiocreation-ui-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($symbiocreation-ui-theme);

.chip-role.moderator {
    //background-color: mat-color($mat-pink, 400);
    //color: mat-contrast($mat-pink, 500);
    color: mat.get-color-from-palette(mat.$pink-palette, 400);
    border-color: mat.get-color-from-palette(mat.$pink-palette, 400);
    position: relative;
    top: -2px;
}

.chip-role.ambassador {
    color: mat.get-color-from-palette(mat.$amber-palette, A700);
    border-color: mat.get-color-from-palette(mat.$amber-palette, A700);
}

.bbox-ambassador {
    fill: mat.get-color-from-palette(mat.$amber-palette, A400);
}

.bbox-name {
    fill: white;
    fill-opacity: 0.2;
}

.accent-bg, .accent-bg:hover {
    background-color: mat.get-color-from-palette($symbiocreation-ui-accent, darker) !important;
}

.pink-color {
    color: mat.get-color-from-palette(mat.$pink-palette, 400);
}

.teal-color-1 {
    color: mat.get-color-from-palette(mat.$teal-palette, A700);
}

.cyan-color-1 {
    color: mat.get-color-from-palette(mat.$cyan-palette, 600);
}

.pink-bg {
    background-color: mat.get-color-from-palette(mat.$pink-palette, 400);
}

/*.card-pink-bg .contrast-color {
    color: mat-contrast($mat-pink, 400);
}*/

div.single-stat-summary span.label {
    color: mat.get-color-from-palette(mat.$gray-palette, 800);
}

div.single-stat-summary span.value-1 {
    color: mat.get-color-from-palette(mat.$teal-palette, A700);
}

div.single-stat-summary span.value-2 {
    color: mat.get-color-from-palette(mat.$cyan-palette, 400);
}

div.single-stat-summary span.value-3 {
    color: mat.get-color-from-palette(mat.$deep-purple-palette, A200);
}

// LINE CHART in admin stats overview
path.line-1 {
    fill: none;
    stroke: mat.get-color-from-palette(mat.$teal-palette, A400);;
}

path.line-2 {
    fill: none;
    stroke: mat.get-color-from-palette(mat.$cyan-palette, 500);
}
