<div *ngIf="symbiocreations?.length === 0" class="container-90 centered gray-600" style="margin-top: 15px;">
    Aún no tienes simbiocreaciones.
</div>

<!-- Grid view -->
<div *ngIf="symbiocreations?.length > 0" class="container-90" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="15px">

    <!-- card -->
    <mat-card *ngFor="let s of symbiocreations; index as i; last as last" class="card-2">

        <div class="centered font-13 gray-500 uppercase" style="height: 30px;">
            <!--<mat-icon *ngIf="s.dateTime" class="font-16">event</mat-icon>-->
            <span *ngIf="s.dateTime">{{s.dateTime | date : 'E d MMM' : 'UTC'}}</span>
            <span *ngIf="s.hasStartTime">, {{s.dateTime | date : 'shortTime' : 'UTC'}}</span>
        </div> 

        <div class="centered font-20 gray-900 bold ellipsed-2" style="height: 48px;">
            <mat-icon 
                [matTooltip]="s.visibility === 'public' ? 'Pública' : 'Privada'" 
                matTooltipPosition="above"
                style="position: relative; top: 4px;"
                class="font-20 gray-600">
                {{s.visibility === 'public' ? 'public' : 'lock'}}
            </mat-icon>
            <a [routerLink]="['/symbiocreation/', s.id]" class="bold font-18 gray-800">
                {{s.name}}
            </a>
        </div>

        <div *ngIf="getParticipantsToDisplay(s.participants) as participantsToDisplay" 
            style="margin: 20px auto 0; height: 40px; position: relative;" 
            [style.width]="(participantsToDisplay.length - 1) * 24 + 45 + computeNMoreSpanWidth(s.participants.length, participantsToDisplay.length) + 'px'">

                <cl-image *ngFor="let p of participantsToDisplay; index as i;" 
                    [public-id]="p.user.pictureUrl" type="fetch" class="img-1" 
                    [style.z-index]="5-i" [style.left]="i*24 + 'px'"
                    [matTooltip]="p.user.name" matTooltipPosition="above">
                    <cl-transformation height="90" width="90" gravity="face" radius="max" crop="fill" fetch-format="auto"></cl-transformation>
                </cl-image>

                <span *ngIf="participantsToDisplay.length > 0 && s.participants.length - participantsToDisplay.length > 0" 
                    class="font-12 gray-500" style="position: absolute; top: 10px;" 
                    [style.left]="(participantsToDisplay.length - 1) * 24 + 45 + 'px'">
                    {{s.participants.length - participantsToDisplay.length}} más
                </span>

        </div>

        <div style="margin-top: 20px; height: 30px;">
            <div [matTooltip]="'Actualizado ' + getTimeAgo(s.lastModified)" matTooltipPosition="above" style="float: left; width: 151px;">
                <mat-icon class="font-17 gray-500" style="position: relative; top: 4px;">update</mat-icon>
                <span class="font-12 gray-500" style="position: relative; left: -4px;">{{getTimeAgo(s.lastModified)}}</span>
            </div>

            <!--<button mat-stroked-button
                    class="gray-300"
                    (click)="viewSymbiocreationDetail(s)">
                    Ver detalles
            </button> -->

            <div style="float: right; width: 40px; height: 30px;">
                <button mat-icon-button
                        [matMenuTriggerFor]="simbioMenu"
                        style="position: relative; top: -5px;">
                        <mat-icon class="font-20 gray-500">more_vert</mat-icon>
                </button>

                <mat-menu #simbioMenu="matMenu">
                    <button mat-menu-item (click)="openSymbioDetailDialog(s, isModeratorList[i])">
                        <mat-icon>info</mat-icon>
                        <span>Ver más información</span>
                    </button>
                    <button *ngIf="isModeratorList[i]" mat-menu-item (click)="changeNameSymbiocreation(s)">
                        <mat-icon>text_fields</mat-icon>
                        <span>Cambiar nombre</span>
                    </button>
                    <button *ngIf="isModeratorList[i]" mat-menu-item (click)="editSymbiocreationInfo(s)">
                        <mat-icon>edit</mat-icon>
                        <span>Editar evento</span>
                    </button>
                    <button *ngIf="isModeratorList[i]" mat-menu-item (click)="deleteSymbiocreation(s.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Eliminar</span>
                    </button>
                </mat-menu>
            </div>

            <!--
            <div style="float: right; width: 40px; height: 30px;">
                <button class="infoButton"
                        mat-icon-button 
                        matTooltip="Ver más información" matTooltipPosition="above"
                        style="position: relative; top: -5px;" 
                        (click)="openSymbioDetailDialog(s)">
                        <mat-icon class="font-20 gray-500">info</mat-icon>
                </button>
            </div> 
            -->

        </div>
        
    </mat-card>
     <!-- End of card -->

</div>