@if (symbiocreations?.length === 0) {
  <div class="container-90 centered gray-600" style="margin-top: 15px;">
    Aún no tienes simbiocreaciones.
  </div>
}

<!-- Grid view -->
@if (symbiocreations?.length > 0) {
  <div class="container-90 container-symbios" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="15px">
    <!-- card -->
    @for (s of symbiocreations; track s; let i = $index; let last = $last) {
      <mat-card class="card-2">
        <div class="centered font-13 gray-500 uppercase" style="height: 30px;">
          <!--<mat-icon *ngIf="s.dateTime" class="font-16">event</mat-icon>-->
          @if (s.dateTime) {
            <span>{{s.dateTime | date : 'E d MMM' : 'UTC'}}</span>
          }
          @if (s.hasStartTime) {
            <span>, {{s.dateTime | date : 'shortTime' : 'UTC'}}</span>
          }
        </div>
        <div class="centered font-20 gray-900 bold ellipsed-2" style="height: 48px;">
          <mat-icon
            [matTooltip]="s.visibility === 'public' ? 'Pública' : 'Privada'"
            matTooltipPosition="above"
            style="position: relative; top: 4px;"
            class="font-20 gray-600">
            {{s.visibility === 'public' ? 'public' : 'lock'}}
          </mat-icon>
          <a [routerLink]="['/symbiocreation/', s.id]" class="bold font-18 gray-800">
            {{s.name}}
          </a>
        </div>
        <div style="margin: 20px auto 0; height: 40px; position: relative;"
          [style.width]="(s.participantsToDisplay.length - 1) * 24 + 45 + computeNMoreSpanWidth(s.participants.length, s.participantsToDisplay.length) + 'px'">
          @for (p of s.participantsToDisplay; track p; let i = $index) {
            <advanced-image
              [cldImg]="p.user.cloudinaryImage"
              width="40px" height="auto"
              style="position: absolute;"
              [style.z-index]="5-i" [style.left]="i*24 + 'px'"
              [matTooltip]="p.user.name" matTooltipPosition="above">
            </advanced-image>
          }
          @if (s.participantsToDisplay.length > 0 && s.participants.length - s.participantsToDisplay.length > 0) {
            <span
              class="font-12 gray-500" style="position: absolute; top: 10px;"
              [style.left]="(s.participantsToDisplay.length - 1) * 24 + 45 + 'px'">
              {{s.participants.length - s.participantsToDisplay.length}} más
            </span>
          }
        </div>
        <div style="margin-top: 20px; height: 30px;" fxLayout="row">
          <div [matTooltip]="'Actualizado ' + getTimeAgo(s.lastModified)" matTooltipPosition="above" style="max-width: 151px; display: flex; align-items: center;" fxFlex>
            <mat-icon class="font-17 gray-500">update</mat-icon>
            <span class="font-12 gray-500" style="position: relative; left: -4px;">{{getTimeAgo(s.lastModified)}}</span>
          </div>
          <div fxFlex="30px">
            <button mat-icon-button
              [matMenuTriggerFor]="simbioMenu"
              style="position: relative; top: -5px;">
              <mat-icon class="font-20 gray-500">more_vert</mat-icon>
            </button>
            <mat-menu #simbioMenu="matMenu">
              <button mat-menu-item (click)="openSymbioDetailDialog(s, isModeratorList[i])">
                <mat-icon>info</mat-icon>
                <span>{{ 'MY_SYMBIOS.VIEW_MORE_INFO' | translate }}</span>
              </button>
              @if (isModeratorList[i]) {
                <button mat-menu-item (click)="changeNameSymbiocreation(s)">
                  <mat-icon>text_fields</mat-icon>
                  <span>{{ 'MY_SYMBIOS.CHANGE_NAME' | translate }}</span>
                </button>
              }
              @if (isModeratorList[i]) {
                <button mat-menu-item (click)="editSymbiocreationInfo(s)">
                  <mat-icon>edit</mat-icon>
                  <span>{{ 'MY_SYMBIOS.EDIT_EVENT' | translate }}</span>
                </button>
              }
              @if (isModeratorList[i]) {
                <button mat-menu-item (click)="deleteSymbiocreation(s.id)">
                  <mat-icon>delete</mat-icon>
                  <span>{{ 'COMMON.DELETE' | translate }}</span>
                </button>
              }
            </mat-menu>
          </div>
        </div>
      </mat-card>
    }
    <!-- End of card -->
  </div>
}