<div style="padding: 15px;">

    <div class="container-90" style="margin-top: 70px; margin-bottom: 15px;">
        <h2 fxFlex class="font-26 bolder gray-900">Mis One Dots</h2>

        <div>
            <button routerLink="/create-onedot" mat-raised-button color="primary">
                <mat-icon>add</mat-icon>
                <span>Nuevo juego One Dot</span>
            </button>
        </div>
    </div>

    
    <!-- <app-list-symbios-user *ngIf="!isGridViewOn" [oneDots]="oneDots"></app-list-symbios-user>  -->

    <!-- <div class="container-90" style="margin-top: 15px;">
        <mat-paginator [length]="totalCount"
              [pageSize]="12"
              [hidePageSize]="true"
              (page)="onPageFired($event)">
        </mat-paginator>
    </div> -->

</div>